* {
   margin: 0;
   padding: 0;
}

body {
   width: 100%;
   height: 100vh;
   box-sizing: border-box;

   background-size: cover;
   background-repeat: repeat;
   background-position: center;
   background-image: url(../../../photos/black_silk.jpg);

   display: flex;
   align-items: center;
   justify-content: flex-start;
}

   nav {
      width: 20%;
      height: 100vh;
      padding: 10px;
      border-radius: 10px;
      box-sizing: border-box;
      background-color: rgba(47, 47, 47, 0.4);

      position: sticky;

      gap: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
   }
      .nav_head {
         width: 100%;
         height: 10%;
         box-sizing: border-box;
         border-bottom: 1px solid rgb(101, 101, 101);

         display: flex;
         align-items: center;
         justify-content: space-evenly;
      }
         .user_icon {
            height: 85%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            box-sizing: border-box;

            display: flex;
            align-items: center;
            justify-content: center;
         }
            .user_icon img {
               width: 100%;
               height: 100%;
               color: white;
               border-radius: 50%;
               box-sizing: border-box;

               display: flex;
               align-items: center;
               justify-content: center;
            }
         .user_details {
            width: 70%;
            box-sizing: border-box;
         }
            .user_details h2 {
               color: white;
               box-sizing: border-box;
               font-family: "Merriweather", "Georgia", serif;
            }
            .user_details h4 {
               color: white;
               box-sizing: border-box;
               font-family: "Merriweather", "Georgia", serif;
            }
      .nav_title {
         width: 100%;
         height: 20%;
         box-sizing: border-box;
         border-top: 1px solid steelblue;
         border-bottom: 1px solid steelblue;
         
         display: flex;
         align-items: center;
         flex-direction: column;
         justify-content: space-evenly;
      }
         .nav_title h1 {
            width: 100%;
            font-size: 26px;
            text-align: center;
            box-sizing: border-box;
            color: rgb(255, 255, 255);
         }
         .nav_title h3 {
            width: 100%;
            text-align: center;
            box-sizing: border-box;
            color: rgb(255, 255, 255);
         }
      .nav_options {
         width: 100%;
         height: fit-content;
         box-sizing: border-box;
         color: rgb(255, 255, 255, 0.8);

         gap: 20px;
         display: flex;
         align-items: center;
         flex-direction: column;
         justify-content: start;
      }
         .main_options, 
         .manage_options {
            width: 100%;
            box-sizing: border-box;

            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
         }
            .main_options h1, 
            .manage_options h1{
               width: 100%;
               height: 40px;
               padding: 15px;
               box-sizing: border-box;
               background-color: rgba(47, 47, 47, 1);
                  
               display: flex;
               align-items: center;
               justify-content: start;
            }
            .main_options button, 
            .manage_options button{
               width: 100%;
               height: 40px;
               border: none;
               cursor: pointer;
               padding-left: 15px;
               transition: all 0.20s;
               box-sizing: border-box;
               background-color: transparent;
               color: rgb(255, 255, 255, 0.8);

               display: flex;
               align-items: center;
               justify-content: start;
            }
            #voters{
               border-left: 3px solid steelblue;
            }  
               button .button_icon {
                  width: 15%;
                  font-size: 20px;

                  display: flex;
                  align-items: center;
                  justify-content: start;
               }
               button p {
                  font-size: 16px;
               }

               .main_options button:hover, 
               .manage_options button:hover  {
                  transition: all 0.20s;
                  box-sizing: border-box;
                  border-left: 3px solid steelblue;
                  background-color: rgba(47, 47, 47, 0.4);
               }
   main {
      width: 80%;
      height: 100%;
      padding: 10px;
      box-sizing: border-box;

      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: start;    
   }
      main h1 {
         width: 100%;
         color: gold;
      }